/*Global Styles */
* {
    margin: 0;
}
body {
 background-color:#95BF3B;
}

img {
    display: block;
    margin: 0 auto;
width: 100%;
}


a {
color: #000000;
}

a:hover {
    text-decoration: none;
}

/* Moblie Styles*/

#container {
padding: 10px;
border: 4px solid #025928;

}

nav {
    text-align:center;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: block;
}

nav li a {
display: block;
background-color:#F2F2F2;
height: 40px;
line-height: 40px;
text-decoration: none;
font-size: 25px;
margin: 10px 0;
border-bottom: 4px solid #025928;
}

nav li a:hover {
background-color: #077336;


}