/*Global Styles */
* {
    margin: 0;
}
body {
 background-color:#95BF3B;
}

img {
    display: block;
    margin: 0 auto;
width: 100%;
}


a {
color: #000000;
}

a:hover {
    text-decoration: none;
}

/* Moblie Styles*/


#container {
padding: 10px;
border: 4px solid #025928;

}

nav {
    text-align:center;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: block;
}

nav li a {
display: block;
background-color:#ffffff;
height: 40px;
line-height: 40px;
text-decoration: none;
font-size: 25px;
margin: 10px 0;
border-bottom: 4px solid #025928;
}

nav li a:hover {
background-color: #82ec7e;
}

main {
padding: 10px;
margin: 10px;
}

.main_content {
padding: 10px;
}

.col {
margin: 10px 0;
}

.col img {
border-radius: 10px;
border: 2px solid #0D0D0D;
}

footer {
    padding: 40px;
    text-align: center;
}
 iframe {
    display: block;
    margin: 20px auto;
    width: 65%;
    height: 450px;
 }

 .contact_content {
    text-align: center;
    
 }

/* Tablet Styles */

@media (min-width: 768px) {
nav {
padding: 10px 0;
border-bottom: 4px solid #030303;

}

    nav li {
    display: inline;

}

nav li a {
display: inline-block;
width: 150px;
height: 40px;
   }
}

.col img {
    width: 65%;
}

/* Deasktop Styles */
@media (min-width: 1024px) {
#container {
width: 65%;
margin: 20px auto;
background-color: #ffffff;
  }  

  .gallery {
 display: flex;
  }

  .col {
border-radius: 10px;
border: 4px solid #077336;
margin: 10px;
padding: 10px;

  }

.col img {
width: 75%;
}

.col h3 {
    padding: 10px;
text-align: center;
color: #077336;
}

.col p {
padding: 10px;
}

.multi_col {
display: flex;
}

section, 
aside {
border-radius: 10px;
border: 4px solid #077336;
margin: 10px;
padding: 10px;
}
.home_section {
width: 70%;
}

.home_aside {
width: 30%;
}


}