/*Global Styles */

body {
 background-color:#95BF3B;
}

img {
    display: block;
    margin: 0 auto;
width: 100%;
}


a {
color: #000000;
}

a:hover {
    text-decoration: none;
}

/* Moblie Styles*/

