body {
background-color: #BAAABF;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

a{
color:#b4c29b(0, 0, 0);}

a:hover {
color:#755480(44, 58, 48);
    text-decoration:none;
}
#contaniner{
    background-color:#58702D;
width: 50%;
margin: 20px auto;
border: 4px solid #371A40;
padding: 20px;
border-radius: 20px;
}

header {
text-align: center;
padding: 40px;
border-bottom: 2px solid #371A40;

}

header h1 {
font-size: 50px;
color: #58702D;

}

nav{
    text-align: center;
    border-bottom: 2px solid #371A40;
}

nav ul{
list-style-type: none;
padding: 0;


}

nav li{
display: inline-block;
}

nav li a {
    display: block;
background-color: #4b4a4c;
color: #B4C29B;
width: 200px;
height: 40px;
line-height: 40px;
font-size: 25px;
text-decoration: none;
border-radius: 10px;
border: 2px solid #371A40;
}

nav li a:hover {
    color: #371A40;
    background-color: #4b4a4c;
}

main h2 {
text-align: center;
color: #4b4a4c;
}

.multi_col{
    display:flex;

}

section, aside {
border-radius: 10px;
border: 2px solid #371A40;
margin: 20px;
padding: 20px;
}

section {
width: 75%;


}

aside {
width: 25%;
}

section img {
border-radius: 10px;
border: 2px solid #371A40;
width: 75%;
}

footer {
    padding: 40px 0;
    text-align: center;
}


.img_style {
width: 75%;
border: 2px solid #371A40;
border-radius: 10px;
box-shadow: 2px 2px 5px #4b4a4c;
margin-top: 20px;
margin-bottom: 20px;
}

hr {
    border: 1px solid #58702D;
}

iframe {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
border: 2px solid #371A40;
 width:65%;
  height:450px;
}

.donate_donate {
    text-align: center;
}

.size_hugcats {
border-radius: 10px;
border: 2px solid #371A40;
width: 75%;
 text-align: center;
}

.img_style2 {
width: 100%;
border: 2px solid #371A40;
border-radius: 10px;
box-shadow: 2px 2px 5px #4b4a4c;
margin-top: 20px;
margin-bottom: 20px;
 text-align: center;
}

.img_style3 {
text-align: center;
padding: 40px;
border-bottom: 2px solid #371A40;

}


.donate_2 {
   border-radius: 10px;
border: 2px solid #371A40;
width: 75%;
 text-align: center;
}